a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-3,
.col-md-6,
.col-xs-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-3 {
    float: left;
    width: 20%;
}

.col-xs-9 {
    width: 75%;
    float: left;
}

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-heading {
    height: 100px;
    background-color: turquoise;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-green {
    border: 2px dashed #398439;
}

.panel-green .panel-heading {
    background-color: #398439;
}

.green {
    color: #398439;
}

.blue {
    color: #337ab7;
}

.baby {
    color: #8b41ec;
}
.black{
    color: black;
}

.panel-primary {
    border: 2px dashed #337ab7;
}

.panel-primary .panel-heading {
    background-color: #337ab7;
}

.red {
    color: #ff2323;
}
.panel-black{
    border: 2px dashed black;
}
.panel-black .panel-heading{
    background-color: black;
}
.panel-red {
    border: 2px dashed #ff2323;
}

.panel-red .panel-heading {
    background-color: #ff2323;
}

.panel-baby {
    border: 2px dashed #8b41ec;
}

.panel-baby .panel-heading {
    background-color: #8b41ec;
}

.huge {
    font-size: 30px;
}

.panel-heading {
    color: #fff;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.text-right {
    text-align: right;
}

.under-number {
    font-size: 20px;
}

@media (min-width: 992px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-lg-3 {
        float: left;
        width: 20%;
    }
}