@model DonorVM
@{
    ViewData["Title"] = "Create";
}
@using ZeusMed.Core.Enums;


<div class="row">
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Add New Donor</h5>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label asp-for="Fullname" class="col-sm-2 col-form-label">Fullname</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                    <i class="bx bx-user"></i>
                                </span>
                                <input asp-for="Fullname"
                                       class="form-control"
                                       placeholder="John Doe"
                                       aria-label="john.doe"
                                       aria-describedby="basic-default-email2"
                                       required="required" />
                            </div>
                            <span class="text-danger" asp-validation-for="Fullname"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                    <i class="bx bx-phone"></i>
                                </span>
                                <input asp-for="PhoneNumber"
                                       class="form-control"
                                       placeholder="+123456789"
                                       aria-label="+123456789"
                                       aria-describedby="quantity-help" />
                            </div>
                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Age" class="col-sm-2 col-form-label">Age</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                    <i class="bx bx-calendar"></i>
                                </span>
                                <input asp-for="Age"
                                       class="form-control"
                                       type="number"
                                       placeholder="30"
                                       required="required" />
                            </div>
                            <span class="text-danger" asp-validation-for="Age"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="ChosenGender" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <select asp-for="ChosenGender" class="form-select" required="required">
                                <option value="">Select Gender</option>
                                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                                {
                                    <option value="@gender">@gender</option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="ChosenGender"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="ChosenBloodGroup" class="col-sm-2 col-form-label">Blood Group</label>
                        <div class="col-sm-10">
                            <select asp-for="ChosenBloodGroup" class="form-select" required="required">
                                <option value="">Select Blood Group</option>
                                @foreach (var bloodGroup in Enum.GetValues(typeof(BloodGroup)))
                                {
                                    <option value="@bloodGroup">@bloodGroup</option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="ChosenBloodGroup"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Quantity" class="col-sm-2 col-form-label">Quantity</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                    <i class="bx bx-droplet"></i>
                                </span>
                                <input asp-for="Quantity"
                                       class="form-control"
                                       placeholder="500ml"
                                       aria-label="500ml"
                                       aria-describedby="quantity-help" />
                            </div>
                            <span class="text-danger" asp-validation-for="Quantity"></span>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Script{
    <partial name="_ValidationScript" />
}