@{

    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="./assets/css/service.css">

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-container" style="background-image: url('../assets/img/all-page-bg.jpeg')">
    <h1>Services</h1>
    <div class="breadcrumb-area" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color:darkturquoise ;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:white">Services</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Services Content Area Start -->

<div class="service-container">
    <div class="service-information">
        <h1>Our Medical Services</h1>
        <span>All the service details we have provided in our hospital are listed below.</span>
    </div>
    <div class="service-card-area">
        <div class="service-card shadow">
            <div class="inner">
                <img src="./assets/img/nutration-diet.png" class="card-img-top" alt="...">
            </div>
            <img src="./assets/img/moving-hover.png" class="moving-hover" alt="">
            <div class="card-body">
                <h5 class="card-title">Nutrition and Diet</h5>
                <br>
                <p class="card-text">The Department of Nutrition and Diet provides services on individual diet programs and nutrition education.</p>
                <br>
                <a href="/servicedetail" id="service-btn" class="btn btn-primary">View Details</a>
            </div>
        </div>
        <div class="service-card shadow">
            <div class="inner">
                <img src="./assets/img/anesthesia.png" class="card-img-top" alt="...">
            </div>
            <img src="./assets/img/moving-hover.png" class="moving-hover" alt="">
            <div class="card-body">
                <h5 class="card-title">Anesthesia and Reamination</h5>
                <br>
                <p class="card-text">
                    Anesthesia applications are performed to all patients from newborns to advanced ages, who will perform all kinds of
                    surgical interventions, with the specialist physician staff who are professionals in the field of anesthesia and
                    anesthesia technicians who are an important part of this team.
                </p>
                <br>
                <a href="/servicedetail" id="service-btn" class="btn btn-primary">View Details</a>
            </div>
        </div>
        <div class="service-card shadow">
            <div class="inner">
                <img src="./assets/img/surgery-services.jpeg" class="card-img-top" alt="...">
            </div>
            <img src="./assets/img/moving-hover.png" class="moving-hover" alt="">
            <div class="card-body">
                <h5 class="card-title">Surgery Operations</h5>
                <br>
                <p class="card-text">We have 5 operating rooms in our hospital, equipped with the latest technological developments.</p>
                <br>
                <a href="/servicedetail" id="service-btn" class="btn btn-primary">View Details</a>
            </div>
        </div>
        <div class="service-card shadow">
            <div class="inner">
                <img src="./assets/img/emergency-service.png" class="card-img-top" alt="...">
            </div>
            <img src="./assets/img/moving-hover.png" class="moving-hover" alt="">
            <div class="card-body">
                <h5 class="card-title">Emergency Service</h5>
                <br>
                <p class="card-text">
                    It is the unit that provides 24-hour uninterrupted emergency service, where the necessary medical interventions of the
                    patients who apply to the hospital in an emergency are carried out in a timely manner, accompanied by expert staff.
                </p>
                <br>
                <a href="/servicedetail" id="service-btn" class="btn btn-primary">View Details</a>
            </div>
        </div>
        <div class="service-card shadow">
            <div class="inner">
                <img src="./assets/img/checkup-services.jpeg" class="card-img-top" alt="...">
            </div>
            <img src="./assets/img/moving-hover.png" class="moving-hover" alt="">
            <div class="card-body">
                <h5 class="card-title">Check-Up</h5>
                <br>
                <p class="card-text">
                    It is the whole of medical follow-ups aimed at protecting and improving the health of the person by taking the necessary
                    precautions before the disease occurs.
                </p>
                <br>
                <a href="/servicedetail" id="service-btn" class="btn btn-primary">View Details</a>
            </div>
        </div>
        <div class="service-card shadow">
            <div class="inner">
                <img src="./assets/img/dermatology-services.png" class="card-img-top" alt="...">
            </div>
            <img src="./assets/img/moving-hover.png" class="moving-hover" alt="">
            <div class="card-body">
                <h5 class="card-title">Dermatology</h5>
                <br>
                <p class="card-text">ERASE THE EFFECTS OF SKIN AGING WITH SALMON DNA What is Salmon DNA? How is Salmon DNA Made?</p>
                <br>
                <a href="/servicedetail" id="service-btn" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
</div>

<!-- Services Content Area End -->
