@model ServiceVM
@{

    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="./assets/css/service.css">

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-container" style="background-image: url('../assets/img/all-page-bg.jpeg')">
    <h1>Services</h1>
    <div class="breadcrumb-area" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color:darkturquoise ;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:white">Services</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Services Content Area Start -->

<div class="service-container">
    <div class="service-information">
        <h1>Our Medical Services</h1>
        <span>All the service details we have provided in our hospital are listed below.</span>
    </div>
    <div class="service-card-area">
        <div class="service-card-area">
            @foreach (var service in Model.Services)
            {
                <div class="service-card shadow">
                    <div class="inner">
                        <img src="@service.ImagePath" class="card-img-top" alt="Service Image">
                    </div>
                    <img src="./assets/img/moving-hover.png" class="moving-hover" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@service.Title</h5>
                        <br>
                        <p class="card-text">@service.Description</p>
                        <br>
                        <a href="@Url.Action("Index", "ServiceDetail", new { id = service.Id })" id="service-btn" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

<!-- Services Content Area End -->
