@model ServiceVM
@{

    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/assets/css/service-detail.css">
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-container" style="background-image: url('/assets/img/all-page-bg.jpeg')">
    <h1>Nutrition and Diet</h1>
    <div class="breadcrumb-area" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color:darkturquoise ;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:white">Nutrition and Diet</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Service Detail Area Start -->

<div class="service-detail-container">
    <div class="left-corner" style="width:1100px">
        <p>Services</p>
        <ul class="choice-service">
            <li class="choice-item"><a href="/ServiceDetail">Nutrition and Diet <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail">Anesthesia and Reamination <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail">Operations <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail">Check-Up <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Dermatology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Infectious Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Physical Therapy and Rehabilitation <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">General Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">General Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Chest Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Eye Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Aviation Medical Center <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Internal Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Cardiovascular Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Cardiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Clinical Laboratory <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Coronary Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Ear Nose Throat <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Neurology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Obesity <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Oudiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Orthopedics <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Pediatrics <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Plastic Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Psychiatry <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Psychology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Radiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Urology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Newborn Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>

        </ul>
    </div>
    <div class="right-corner" >
        <img class="detail-img" src="@Model.ImagePath" alt="">
        <h2 style="padding-top:20px">@Model.Title</h2>
        <h5>@Model.Description</h5>
        <p class="right-text" style="width:790px !important">
           @Html.Raw(Model.Info)
        </p>
    </div>
</div>
<!-- Service Detail Area Start -->