@model ServiceVM
@{

    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/assets/css/service-detail.css">
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-container" style="background-image: url('/assets/img/all-page-bg.jpeg')">
    <h1>Nutrition and Diet</h1>
    <div class="breadcrumb-area" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color:darkturquoise ;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:white">Nutrition and Diet</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Service Detail Area Start -->

<div class="service-detail-container">
    <div class="left-corner" style="width:350px !important">
        <p>Services</p>
        <ul class="choice-service">
            <li class="choice-item"><a href="/servicedetail/index/1">Nutrition and Diet <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/2">Anesthesia and Reamination <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/3"> Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/4"> Emergency Services <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/5">Check-Up <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/6">Dermatology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/7">Infectious Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/8">Physical Therapy <br /> and Rehabilitation <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/9">General Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/10">General Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/11">Chest Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/14">Eye Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/15">Aviation Medical Center <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/16">Internal Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/17">Cardiovascular Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/18">Cardiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/19">Clinical Laboratory <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/20">Coronary Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/21">Ear Nose Throat <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/22">Neurology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/23">Obesity <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/24">Oudiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/25">Orthopedics <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/26">Pediatrics <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/27">Plastic Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/28">Psychiatry <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/29">Psychology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/30">Radiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/31">Urology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail/index/32">Newborn Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>

        </ul>
    </div>
    <div class="right-corner" style="width:750px !important" >
        <img class="detail-img" src="@Model.ImagePath" alt="">
        <h2 style="padding-top:20px">@Model.Title</h2>
        <p>@Html.Raw(Model.Description)</p>
        @*<p class="right-text" style="width:600px !important">
           @Html.Raw(Model.Info)
        </p>*@
    </div>
</div>
<!-- Service Detail Area Start -->