@{

    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="./assets/css/service-detail.css">
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-container" style="background-image: url('../assets/img/all-page-bg.jpeg')">
    <h1>Nutrition and Diet</h1>
    <div class="breadcrumb-area" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color:darkturquoise ;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:white">Nutrition and Diet</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Service Detail Area Start -->

<div class="service-detail-container">
    <div class="left-corner">
        <p>Services</p>
        <ul class="choice-service">
            <li class="choice-item"><a href="/servicedetail">Nutrition and Diet <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail">Anesthesia and Reamination <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail">Operations <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="/servicedetail"">Check-Up <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Dermatology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Infectious Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Physical Therapy and Rehabilitation <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">General Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">General Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Chest Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Eye Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Aviation Medical Center <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Internal Diseases <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Cardiovascular Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Cardiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Clinical Laboratory <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Coronary Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Ear Nose Throat <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Neurology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Obesity <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Oudiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Orthopedics <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Pediatrics <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Plastic Surgery <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Psychiatry <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Psychology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Radiology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Urology <i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="choice-item"><a href="">Newborn Intensive Care <i class="fa-solid fa-chevron-right"></i></a></li>

        </ul>
    </div>
    <div class="right-corner">
        <img class="detail-img" src="./assets/img/nutration-diet.png" alt="">
        <h4>Nutrition and Diet</h4>
        <p class="right-text">
            The Department of Nutrition and Diet provides services on individual diet programs and nutrition education.
            <br><br>
            Nutrition; It is the use of nutrients for growth, maintenance of life and protection of health. In the prevention of
            many diseases, during treatment and after the disease, it is necessary to determine the nutritional status of the person
            and follow up with a personalized, adequate and balanced diet.
            <br><br>
            All inpatients in our hospital receive meal service planned by our Specialist Dietitian in accordance with a healthy
            nutrition program.
            <br><br>
            Successful studies with obesity surgery are continuing on obesity diseases.
        </p>
    </div>
</div>
<!-- Service Detail Area Start -->