@{

    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="./assets/css/contact.css?v=2">
<script src="~/assets/js/contact.js"></script>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-container" style="background-image: url('../assets/img/all-page-bg.jpeg')">
    <h1>Contact</h1>
    <div class="breadcrumb-area" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color:darkturquoise ;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:white">Contact</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Contact Us Area Start -->
<div class="contact-container">
    <div class="contact-us">
        <h2>Contact With Us</h2>
        <div class="contact-item">
            <i class="fa-solid fa-location-dot"></i>
            <div class="contact-content">
                <h4>Our Location</h4>
                <p>
                    Bahçelievler Merkez, Bahçelievler Mh Talatpaşa Bulv,
                    <br>
                    Begonyalı Sokak No:7 D:9, 34180 Bahçelievler/İstanbul
                </p>
            </div>
        </div>
        <hr class="contact-hr">
        <div class="contact-item">
            <i class="fa-solid fa-phone"></i>
            <div class="contact-content">
                <h4>Our Phone Number</h4>
                <p>
                    (0212) 441 41 42
                    <br>
                    444 3 515
                </p>
            </div>
        </div>
        <hr class="contact-hr">
        <div class="contact-item">
            <i class="fa-regular fa-envelope"></i>
            <div class="contact-content">
                <h4>Our E-mail Address</h4>
                <p>zeusmed2023@outlook.com</p>
            </div>
        </div>
        <hr class="contact-hr">
        <span><i class="fa-solid fa-headphones-simple" style="color:#245BCD; font-size: 35px;"></i> 7 X 24 Online Support</span>
    </div>
    <div class="contact-map">
        <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2847.2966881003767!2d26.08686461160936!3d44.468090970954485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f95b1c89b33f%3A0x5fad6cc8b12116d4!2sZeusMed!5e0!3m2!1str!2saz!4v1694283807508!5m2!1str!2saz"
                width="540" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!-- Contact Us Area End -->