@model Service

@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Update Service</h5>
            </div>
            <img src="@Model.ImagePath" style="width: 150px; margin: 15px" />
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label asp-for="Title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                    <i class="bx bx-user"></i>
                                </span>
                                <input asp-for="Title" class="form-control" placeholder="Cardiology" required="required" />
                            </div>
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-group-file"></i></span>
                                <textarea asp-for="Description"
                                          class="form-control"
                                          id="tiny">
                                </textarea>
                            </div>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                    </div>
                    @*<div class="row mb-3">
                        <label asp-for="ServiceDetail.Info" class="col-sm-2 col-form-label">Info</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                    <i class="bx bx-info-circle"></i>
                                </span>
                                <textarea asp-for="ServiceDetail.Info" class="form-control" id="tiny"></textarea>
                            </div>
                            <span class="text-danger" asp-validation-for="ServiceDetail.Info"></span>
                        </div>
                    </div>*@
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">New Image</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                    <i class="bx bx-image-add"></i>
                                </span>
                                <input type="file" asp-for="ImagePath" class="form-control" />
                            </div>
                            <span class="text-danger" asp-validation-for="ImagePath"></span>
                            <div class="form-text">Choose a new image to update.</div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">Update</button>
                            <a asp-action="Index" class="btn btn-secondary">Back To The List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Script {
    <partial name="_ValidationScript" />
}
