.pagination-container {
    margin-top: 20px;
}

.page-item {
    display: inline-block;
    margin-right: 5px;
}

.page-link {
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.page-link:hover {
    background-color: #0056b3;
}