@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body > * {
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    height: 70px;
    width: 100vw;
    font-size: 16px;
    color: #606060;
    margin: 0;
    align-items: center;
}

span {
    padding-left: 15px;
}

.icons {
    gap: 22px;
    display: flex;
}

    .icons img {
        height: 25px;
        width: 25px;
    }

.zeusLogo {
    height: 170px;
    margin-top: -55px;
    margin-left: 20px;
}



/* Navbar */
.ham-menu {
    display: none;
}

.fa-bars {
    font-size: 40px;
}

.hidden-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent dark background */
    z-index: 1;
}

#close-menu {
    margin-left: 20px;
    margin-top: 20px;
}

.menu-content {
    position: absolute;
    top: 0;
    right: -300px;
    /* Initial position outside the screen */
    width: 300px;
    height: 100%;
    background: white;
    overflow-y: auto;
    transition: right 0.3s;
}

.ham-menu {
    display: none;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.hidden-menu a {
    text-decoration: none;
    color: #13181f;
}

.hidden-menu li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu {
    display: flex;
    gap: 15px;
    padding-top: 15px;
}

    .menu li {
        list-style: none;
    }

    .menu a {
        text-decoration: none;
        color: #333333;
    }

.appointment-button {
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 6px;
    margin-right: 30px;
    font-size: 12px;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-service .dropdown-menu {
    display: none;
}

.dropdown-service {
    margin: 10px 0 0 -300px;
}

.dropdown {
    margin-top: -7px;
}

.left-service,
.mid-service,
.right-service {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

#lang-dropdown {
    flex-direction: column;
}

#selectedLanguage {
    font-weight: bold;
}

/* Breadcrumb Area */
.breadcrumb-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: -40px;
    height: 250px;
    width: 100vw;
    background-image: url("/client/assets/img/all-page-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.breadcrumb-area {
    display: flex;
    justify-content: center;
}

.breadcrumb-item {
    font-size: 25px;
}

/* Service Detail Area */
.left-corner {
    background-color: whitesmoke;
    width: max-content;
    padding: 30px 30px 10px 0;
    margin: 100px 0 0 30px;
}

    .left-corner p {
        padding-left: 40px;
        font-size: 22px;
        font-weight: bolder;
    }

.choice-service {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .choice-service li {
        list-style: none;
    }

    .choice-service a {
        text-decoration: none;
        color: black;
    }

.fa-chevron-right {
    float: right;
    padding-left: 15px;
}

.choice-item {
    padding: 10px;
    border-radius: 8px;
}

    .choice-item:hover {
        background-color: #245BCD;
    }

        .choice-item:hover a {
            color: white;
        }

        .choice-item:hover .fa-chevron-right {
            color: white;
        }

.service-detail-container {
    display: flex;
    margin-left: 70px;
    gap: 50px;
}

.right-corner {
    margin-top: 100px;
}

    .right-corner h4 {
        padding-top: 50px;
        font-weight: 900;
    }

.detail-img {
    width: 800px;
    height: 650px;
    border-radius: 20px;
}

.right-text {
    padding-top: 20px;
    width: 790px;
}

/* Book Now Area */
.book-now {
    background-image: url('/client/assets/img/book-now.jpg');
    height: 400px;
    width: 90%;
    margin-top: 100px;
    margin-left: 75px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
}

.book-button {
    border: none;
    border-radius: 80px;
    height: 80px;
    width: 280px;
    margin-right: 20px;
}

.book-title {
    font-weight: 600;
    font-size: 18px;
}

.book-text {
    font-size: 52px;
    font-weight: 900;
}

.fa-calendar-check,
.fa-hand-holding-medical {
    padding-right: 10px;
    font-size: 22px;
}

/* Footer Area */
.footer-container {
    margin-top: 350px;
    padding: 200px 0 0 30px;
    height: 350px;
    width: 100vw;
    background-color: #13181f;
    height: max-content;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.footer-first {
    display: flex;
}

.footer-logo {
    height: 170px;
    background-color: white;
    border-radius: 20px;
}

.footer-top {
    display: flex;
    flex-direction: column;
}

.footer-hist {
    display: flex;
}

.footer-info {
    border: 1px solid transparent;
    width: 350px;
    padding-left: 20px;
}

.address {
    border: 1px solid transparent;
    width: 350px;
}

.footer-icons {
    padding-top: 10px;
}

    .footer-icons i {
        font-size: 25px;
        padding-right: 15px;
    }

.footer-heading {
    font-size: 20px;
    font-weight: 900;
    color: #959090;
}

.footer-mid {
    display: flex;
    padding-left: 20px;
    gap: 70px;
}

.links-ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

    .links-ul a {
        text-decoration: none;
        color: white;
    }

    .links-ul li {
        list-style: none;
    }

.links-head {
    padding-left: 30px;
    padding-bottom: 20px;
    color: #959090;
    font-size: 20px;
}

.mail-area {
    height: 60px;
    background-color: white;
    width: 380px;
    display: flex;
    padding-left: 20px;
    border-radius: 30px;
}

    .mail-area i {
        padding-top: 15px;
        padding-right: 10px;
    }

.subscribe {
    border-radius: 30px;
    border: none;
    background-color: #245BCD;
    color: white;
    margin: 5px 0 0 25px;
    height: 50px;
    width: 120px;
    font-size: 17px;
    font-weight: bolder;
}

.news-email {
    outline: none;
    border: none
}

.footer-second {
    padding: 50px 0 20px 0;
    text-align: center;
}

    .footer-second p {
        padding-top: 20px;
        font-size: 20px;
    }

@media only screen and (max-width: 767px) {
    header {
        display: none;
    }

    .menu {
        display: none;
    }

    nav .appointment-button {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    nav {
        width: 520px;
    }
    .breadcrumb-container {
        width: 520px;
    }
    .menu-content {
        right: -100%;
        width: 100%;
        transition: right 0.3s;
    }

    .hidden-menu li {
        padding-top: 60px;
    }

    .fa-bars {
        margin-left: -50px;
    }

    .bannerTitle {
        font-size: 32px;
    }

    .bannerText {
        font-size: 15px;
    }

    .appointment-button {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .aboutArea {
        flex-direction: column;
        margin-left: 20px;
    }

    .collabImg {
        height: 250px;
        width: 350px;
    }

    .counterArea {
        flex-direction: column;
        height: max-content;
    }

    .imageDoc {
        margin-left: -10px;
        height: 200px;
    }

        .imageDoc img {
            width: 350px;
        }

    .playBtn {
        margin: -80px 0 0 20px
    }

    .counter {
        flex-direction: column;
        margin-top: 150px;
    }

    .akhiValue {
        font-size: 30px;
    }

    .labelText {
        font-size: 16px;
    }

    .counterIcons {
        font-size: 18px;
    }

    .card {
        margin-left: 10px;
    }

    .servicesMainText {
        font-size: 18px;
    }


    .gallery-container {
        margin-bottom: 2000px;
    }

    .gallery_img img {
        height: 300px;
        width: 350px;
    }

    .gallery-container {
        height: 500px;
    }


    .doctors-info {
        width: 500px;
    }

    .doctors_img {
        width: 300px;
        height: 300px;
    }

    .show_up_button {
        margin-left: 20px;
        margin-top: 30px;
    }

    .footer-container,
    .footer-first,
    .footer-second,
    .footer-mid {
        flex-direction: column;
    }

    .footer-mid {
        margin: 40px 0 0 -50px
    }

    .mail-area {
        margin-left: 20px;
    }

    .book-now {
        width: 520px;
        margin-left: 0px;
    }

    .book-text {
        font-size: 32px;
    }

    .book-button {
        width: 220px;
        height: 70px;
        margin: 20px 0 0 20px;
        font-size: 14px;
    }

    .footer-bottom p {
        font-size: 17px;
        margin-left: -20px;
    }

    .footer-info {
        font-size: 15px;
        margin-left: -13px;
    }
    .footer-container {
        width: 520px;
    }
    .footer-logo {
        height: 150px;
        margin-left: -20px;
    }

    .service-card-area {
        flex-direction: column;
        width: max-content;
        max-width: 800px;
    }

    .doctor-detail-container {
        margin-left: 0px;
    }

    .doctor-detail-info {
        padding-left: 20px;
    }

    .doctor-detail-about {
        padding-left: 20px;
    }

    .appointment-button {
        margin-left: 20px;
    }

    .left-corner {
        display: none;
    }

    .right-corner .detail-img {
        width: 400px;
        height: 400px;
    }

    .right-corner {
        margin-left: -50px;
    }

    .right-text {
        width: 400px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header .number {
        padding-top: 15px;
    }

    .menu {
        display: none;
    }

    nav .appointment-button {
        display: none;
    }

    .ham-menu {
        display: flex;
        margin-right: 20px;
    }
    nav {
        width: 800px;
    }
    .breadcrumb-container {
        width: 800px;
    }
    .fa-bars {
        margin-left: -50px;
    }

    .bannerTitle {
        font-size: 50px;
    }

    .bannerText {
        margin-top: -30px;
        margin-bottom: 20px;
        font-size: 23px;
    }

    .appointment-button {
        margin-top: -20px;
        margin-bottom: 20px;
        height: 70px;
        width: 250px;
        font-size: 20px;
    }

    .aboutArea {
        flex-direction: column;
        margin-left: 20px;
    }

    .collabImg {
        height: 450px;
        width: 550px;
        margin-left: 100px;
    }

    .aboutHeadText {
        font-size: 40px;
    }

    .aboutMainText {
        font-size: 22px;
        width: 750px;
    }

    .eachOption .editIcon {
        height: 100px;
    }

    .eachOption .eachOptionText :first-child {
        font-size: 32px;
    }

    .eachOption .eachOptionText :last-child {
        font-size: 22px;
    }

    .counterArea {
        flex-direction: column;
        height: max-content;
    }

    .imageDoc {
        margin-left: -10px;
        height: 200px;
    }

        .imageDoc img {
            width: 700px;
            margin-left: 30px;
        }

    .playBtn {
        margin: -100px 0 0 650px;
    }

    .counter {
        flex-direction: column;
        margin-top: 500px;
    }

    .akhiValue {
        font-size: 50px;
    }

    .labelText {
        font-size: 22px;
    }

    .counter {
        display: flex;
        flex-direction: row;
    }

    .counterLeft {
        display: flex;
    }

    .counterIcons {
        font-size: 18px;
    }

    .card {
        margin-left: 10px;
    }

    .servicesMainText {
        font-size: 20px;
    }


    .gallery-container {
        margin-bottom: 2000px;
    }

    .gallery_img img {
        height: 300px;
        width: 350px;
    }

    .gallery-container {
        height: 500px;
    }

    .doctors-container {
        margin-top: -1100px;
    }

    .doctors_title {
        font-size: 70px;
    }

    .doctors-area {
        display: flex;
        flex-direction: row;
    }

    .doctors_text {
        font-size: 21px;
    }

    .doctors-info {
        width: 500px;
        margin-right: 150px;
    }

    .doctor_name {
        font-size: 30px;
    }

    .doctor_department {
        font-size: 25px;
    }

    .doctors_img {
        width: 500px;
        height: 500px;
    }

    .show_up_button {
        margin-left: 60px;
        margin-top: 50px;
    }

    .doctors_button {
        width: 200px;
        height: 70px;
        font-size: 22px;
    }

    .footer-container,
    .footer-first,
    .footer-second,
    .footer-mid {
        flex-direction: column;
    }

    .footer-mid {
        margin: 40px 0 0 -50px
    }

    .mail-area {
        margin-left: 20px;
    }

    .book-now {
        width: 800px;
        margin-left: 0px;
    }
    .footer-container {
        width: 800px;
    }
    .book-text {
        font-size: 36px;
    }

    .book-button {
        width: 350px;
        height: 90px;
        margin: 20px 0 0 20px;
        font-size: 22px;
    }

    .footer-bottom p {
        font-size: 22px;
        margin-left: -15px;
    }

    .footer-info {
        font-size: 22px;
        margin-left: 13px;
    }

    .footer-logo {
        height: 200px;
        margin-left: -20px;
    }

    .address {
        font-size: 20px;
    }

    .helpline {
        font-size: 20px;
    }

    .links-head {
        font-size: 23px;
    }

    .links-ul {
        font-size: 20px;
    }

    .newsletter {
        margin-left: -15px;
    }

    .service-card-area {
        flex-wrap: wrap;
        width: 800px;
    }

    .left-corner {
        margin-left: -60px;
        width: 300px;
    }

    .right-corner .detail-img {
        width: 400px;
        height: 400px;
    }

    .right-corner {
        margin-left: 20px;
    }

    .right-text {
        width: 400px;
    }
}
