
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/svg/zeusmed_logo.svg">
    <title> ZeusMed Medical Center</title>
    <link rel="stylesheet" href="~/assets/css/success.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">

</head>

<body>
    <header>
        <a href="/"><img class="zeusLogo" src="../assets/img/zeusmed-logo.png" alt=""></a>
        <p id="phonecall"><i class="fa-solid fa-phone"></i> 937</p>
    </header>
    <div class="container">
        <div class="div">
            <img src="~/assets/img/appointment-removebg-preview.png" alt="">
        </div>
        <div class="div">
            <p>Dear, patient you appointment is ready, you can visit the doctor in selected time</p>
        </div>
    </div>
</body>

</html>