@{
    ViewBag.Title = "SendEmail";
}
<div class="row">
    <h4 class="mb-3"> Email Sender Demo Core MVC </h4>
    <form method="post" asp-controller="Auth" asp-action="SendEmail">
        <div class="row g-3">
            <div class="col-12 ">
                <input class="=form-control" type="text" name="to" placeholder="Send to" required />
            </div>
            <div class="col-12">
                <input class="=form-control" type="text" name="Subject" placeholder="Subject" required />
            </div>
            <div class="col-12">
                <input class="=form-control" type="text" name="body" placeholder="body" required />
            </div>
            <div class="col-12">
                <input type="submit" value="submit" />
            </div>
            <div class="form-group">
                <div class="text-sucsess">
                    @if (TempData["alert"] != null)
                    {
                        @TempData["alert"]
                        ;
                    }
                </div>
            </div>
        </div>
    </form>
</div>